{% extends 'base-front.html.twig' %}

{% block title %}Home index{% endblock %}

{% block body %}
    <h1 class="text-center">Accueil</h1>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for slide in slides %}
        {% if loop.index0 == 0 %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" class="active" aria-current="true" aria-label="{{ loop.index0 }}"></button>
        {% else %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" aria-label="{{ loop.index0 }}"></button>
        {% endif %}
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for slide in slides %}
        {% if loop.index0 == 0 %}
        <div class="carousel-item active">
        {% else %}   
        <div class="carousel-item">
        {% endif %}
        <img src="{{ asset('images/carousel/' ~ slide.image) }}" class="img-car d-block" alt="...">
            {% if slide.titre is defined and slide.titre is not null or slide.content is defined and slide.content is not null %}
            <div class="carousel-caption d-none d-md-block">
                <h5>{% if slide.titre is defined and slide.titre is not null %} {{ slide.titre }}</h5> {% endif %}
                <p>{% if slide.content is defined and slide.content is not null %} {{ slide.content }}</p> {% endif %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row mt-5">
	{% for livre in livres %}
        <div class="col-sm-3">
            <div class="card">
                <img src="{{ asset('images/livres/' ~ livre.image) }}" class="card-img-top" alt="{{ livre.titre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ livre.titre }}</h5>
                    <p class="card-text">{{ livre.description }}</p>
                    <a href="{{ path('livre_detail', {'id':livre.id}) }}" class="btn btn-outline-primary">Voir détail</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}