{% extends 'base-front.html.twig' %}

{% block title %}
    {% if auteur.prenom is defined and auteur.prenom is not null %}
        {{ auteur.prenom }}
    {% endif %}
        {{ auteur.nom }}
{% endblock %}

{% block body %}
    <h1 class="text-center">
        {% if auteur.prenom is defined and auteur.prenom is not null %}
            {{ auteur.prenom }}
        {% endif %}
            {{ auteur.nom }}
    </h1>
    <div class="row mt-2">
        <div class="col-md-6">
            <img src="{{ asset('images/auteur/' ~ auteur.image) }}" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <p>{{ auteur.biographie|raw }}</p>
        </div>
    </div>

    <div class="row mt-2">
        {% for livre in auteur.livres %}
            <div class="col-12 col-md-2">
                <img src="{{ asset('images/livres/' ~ livre.image) }}" alt="" class="img-fluid">
                <a href="{{ path('livre_detail', {'id': livre.id}) }}" class="btn btn-outline-primary mt-1">Voir livre</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}